body{
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 10pt;
	color: black;
	background-color: white;
	width: 960px;
	height: auto;
	margin: 0px auto;
	background-color: black;
}

ul{
	list-style: none;
	padding: 5px;
}

#wrapper{
	margin: 0px auto;
	background-color: white;
}

#navigation{
	width: inherit;
	height: 32px;
	background-color: gray;
}

#navigation ul li{
	float: left;
	list-style-type: none;
	padding-left: 30px;
	margin-left: 17px;
	margin-right: 25px;
}

#navigation ul li a{
	text-decoration: none;
	color: black;
	font-size: 15pt;
}

#navigation ul li a:hover{
	background-color: blue;
	border-radius: 5px;
}

#content
{
	margin: 20px auto;
}
.allcategory{
	height: 350px;
	margin-left: 20px;
	float: left;
}

.allcategory a{
	text-decoration: none;
}

.allcategory ul li a:hover{
	color:red;
}

dl{
	width: 150px;
	margin: 0px;
}

dd{
	margin-left: 10px;
}

dt{
	background-color: gray;
	font-size: 14px;
	padding: 5px;
	margin: 5px;
}

dt a{
	color: #FFF;
}

dd a{
	color: #000;
}


#SlideShow
{
	float: left;
	border: 2px solid black;
	margin-left: 30px;
}

#right{
	float: right;
	border: 1px solid black;
	margin-right: 20px;
}

#search{
	margin:8px;
}

#search button{
	background:url('../pict/search.png');
	width:20px;
	height:20px;
}

#search input{
	border: 1px solid black;
}

#cart img{
	margin : 0px 5px 10px 45px;
	width:45px;
	height:45px;
}

.clear{
	clear: both;
}

#footer{
	text-align: center;
	background-color: gray;
}
