body{
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 10pt;
	color: black;
	background-color: black;
	width: 960px;
	height: auto;
	margin: 0px auto;
}

#wrapper{
	border: 2px solid black;
	margin: 0px auto;
	background-color: white;
}

#navigation{
	width: inherit;
	height: 50px;
	background-color: gray;
}

#navigation ul li{
	float: left;
	list-style-type: none;
	padding-left: 30px;
	padding-top: 10px;
	margin-right: 25px;
}

#navigation ul li a{
	text-decoration: none;
	color: black;
	font-size: 20pt;

}

#navigation ul li a:hover{
	color:red;
}

#allcategory{
	height: 350px;
	margin: 0px auto;
	text-decoration: none;
	float: left;
}
dl{
	width: 150px;
	margin: 0px;
}

dd{
	margin: 20px;
}

dt{
	background-color: gray;
	font-size: 16px;
	padding: 14px;
	margin: 8px;
}

dt a{
	color: #FFF;
}

dd a{
	color: #000;
}

ul{
	list-style: none;
	padding: 5px;
}
#category ul li a:hover{
	color:red;
}
#SlideShow
{
	float: left;
	border: 2px solid black;
	margin: 20px;
}

#right{
	float: left;
	border: 1px solid black;
	margin: 20px;
}

#search{
	margin:8px;
}

#search button{
	background:url('../pict/search.png');
	width:20px;
	height:20px;
}

#search input{
	border: 1px solid black;
}

#cart img{
	margin : 0px 5px 10px 45px;
	width:45px;
	height:45px;
}

.clear{
	clear: both;
}

#footer{
	text-align: center;
	background-color: gray;
}
