#body{
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 10pt;
	color: black;
}

#wrapper{
	border: 2px solid black;
	width: 960px;
	height: auto;
	margin: 0px auto;
}

#navigation{
	width: inherit;
	height: 50px;
	background-color: gray;
}

#navigation ul li{
	float: left;
	list-style-type: none;
	padding-left: 30px;
	padding-top: 10px;
	margin-right: 20px;
}

#navigation ul li a{
	text-decoration: none;
	color: black;
	font-size: 20pt;
}

#navigation ul li a:hover{
	color:red;
}

